<%= react_component("Map", {
  center: @map_center,
  zoom: @map_zoom,
  markers: [@markers]
}) %>
<% @places.each do |place| %>
  <h1><a href="https://www.google.com/maps/place/<%=place.address%>" target="_blank"><%= place.name %></a></h1>
  <p><%= place.address %></p>
  <p><%= place.latitude %></p>
  <p><%= place.longitude %></p>
<% end %>
<div>
  <a style="color: black" href="https://www.google.com/maps/place/Toyoda+Cheesesteak/@35.6765469,139.6752138,17z/data=!3m2!4b1!5s0x6018f33cafd62d7b:0x63511e8312ef7313!4m5!3m4!1s0x6018f3f0b37b6971:0xd743de5aafbdf25f!8m2!3d35.6765521!4d139.6752074"></a>
</div>
<h1>Cant oyu see me!</h1>
