<div class="nav-submit-wrapper">
  <%= react_component("Navbar", {}) %>
  <div class="submit-location">
    <%= link_to new_place_path do %>
      <%= react_component("Button", {}) %>
    <% end %>
  </div>
</div>
<%= react_component("Map", {
  center: @map_center,
  zoom: @map_zoom,
  markers: [@markers]
}) %>
<%= react_component("Tabs", {places: @places}) %>
<%= react_component("Footer", {}) %>
<script>
  const el = document.getElementsByClassName('gm-style');
  if (el.length > 0) {
    console.log(el.length);
  } else {
    // window.location.reload();
    console.log("not here")
  }
</script>
